<div class=" logCont contatiner d-flex flex-column justify-content-center align-items-center">
    <form action="/edit-event/{{_id}}" method="post">
        <div>
            <label class="form-label" for="title">Title</label>
            <input class="form-control" id="title" type="text" name="title" value="{{title}}">
        </div>
        <div>
            <label class="form-label" for="description">Description</label>
            <input class="form-control" id="description" type="text" name="description" value="{{description}}">
        </div>
        <div>
            <label class="form-label" for="date">Date</label>
            <input class="form-control" id="date" type="date" name="date" value="{{date}}">
        </div>
        <div>
            <label class="form-label" for="latitude">Latitude</label>
            <input class="form-control" id="latitude" type="text" name="latitude" value="{{location.coordinates.[1]}}">
        </div>
        <div>
            <label class="form-label" for="longitude">Longtiude</label>
            <input class="form-control" id="longitude" type="text" name="longitude"
                value="{{location.coordinates.[0]}}">
        </div>
        <div class="d-flex justify-content-center">
            <button class="d-flex  indesLogIn mt-3" type="submit">Edit event</button>
        </div>


    </form>
</div>