<div class="container">

    <div class="d-flex justify-content-around mt-5">
        <div>


            <div class="container card d-flex justify-content-center mt-5" style="width: 19rem;">
                <div class="card-body">
                    <div class="card-title">
                        {{title}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{description}}
                    </div>
                    <div class="card-title">
                        {{date}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{location.coordinates.[1]}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{location.coordinates.[0]}}
                    </div>
                </div>

            </div>

        </div>



        <div>
            <input type="hidden" id="lontId" value="{{location.coordinates.[1]}}">
            <input type="hidden" id="lattId" value="{{location.coordinates.[0]}}">


            <figure class="mt-4" id="myMapDetails" class=""></figure>
        </div>
    </div>
    <div class="video-container">

        <video autoplay muted loop id="my-video" class="video">

            <source src="../videos/mickey.mp4" type="video/mp4">
        </video>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/events-mapId.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=init"></script>