<div class="container">

    {{!-- crear inpunts ocultos con la latitud y la longuitud para que lleguen al script, y desde el script lo pillais
    --}}
    <input type="hidden" id="eventId" value="{{id}}">
    <input type="hidden" id="title" value="{{title}}">
    <input type="hidden" id="descriptionId" value="{{description}}">
    <input type="hidden" id="dateId" value="{{date}}">
    <input type="hidden" id="lontId" value="{{location.coordinates.[1]}}">
    <input type="hidden" id="lattId" value="{{location.coordinates.[0]}}">

    <div>
        <figure class="mt-4" id="myMapDetails" class=""></figure>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/events-mapId.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=init"></script>