<div class="container">
    <div class="row d-flex justify-content-center">

        {{#each characters}}
        <div class=" col-3 mt-3 me-5">
            <div class="card-style card" style="width: 18rem;">
                <a href="{{sourceUrl}}">
                    <img class="card-image card-img-top" src="{{imageUrl}}" alt="{{name}}">

                    <div class="card-body d-flex justify-content-center">
                </a>

                <a href="{{sourceUrl}}" class="aHover card-title">{{name}}</a>
            </div>
        </div>
    </div>

    {{/each}}


</div>